{% extends 'base.html' %}

{% block title %}Пост{% endblock %}

{% load static %}

{% block styles %}
	<link rel="stylesheet" href="{% static 'css/post.css' %}">
{% endblock %}

{% block content %}
<div class="post col-8 mx-auto">
	<h1 style="margin-top: 40px">{{ post.title }}</h1>
	{% autoescape off %}
		{{ text }}
	{% endautoescape %}
	{% if post.author == request.user %}
		<a class="btn btn-secondary btn-sm col-2" href="{% url 'post-edit' post.id %}" style="margin-left: 15%">Редактировать</a>
		<a class="btn btn-danger btn-sm col-2 ml-2" href="{% url 'post-delete' post.id %}">Удалить</a>
	{% endif %}
	<div class="card comments">
		<h5 class="card-header">Комментарии</h5>
		<div class="card-body">
			<textarea class="form-control mb-3" placeholder="Ваш комментарий"></textarea>
			<button class="btn btn-primary">Оставить</button>
		</div>
		<div class="card mx-2 mb-2">
			<div class="card-body">
				<h5 class="card-title">Я думаю, он прикольный</h5>
				<h6 class="card-subtitle text-muted">Kid Cudi</h6>
			</div>
		</div>
		<div class="card mx-2 mb-2">
			<div class="card-body">
				<h5 class="card-title">Мой братишка!</h5>
				<h6 class="card-subtitle text-muted">A$AP Rocky</h6>
			</div>
		</div>
	</div>
</div>
{% endblock %}
