{% extends 'base.html' %}

{% block title %}Пост{% endblock %}

{% load static %}

{% block styles %}
	<link rel="stylesheet" href="{% static 'css/post.css' %}">
{% endblock %}

{% block content %}
<div class="post col-8 mx-auto">
	<img src="https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2017%2F05%2Fplayboi-carti-ssense-2017-interview-tw.jpg?w=960&cbr=1&q=90&fit=max">
	<h1>Playboi Carti и почему он такой блять модный</h1>
	<p>Встречайте Йена Коннора – творческую личность, остававшуюся самим собой с самого начала пути. После переезда из Атланты в Нью-Йорк в возрасте 18-ти лет и разъездов по миру Йен Коннор стал движущей силой и одним из основоположников молодежной культуры в социальных сетях. Сейчас полночь, и журналу PAUSE выпал шанс поговорить с ним во время его пребывания в Лондоне на тему карьеры, рода его занятия, о взглядах на жизнь и смерть, жизненном опыте и о том, что стоит за новым брендом Коннора под названием Revenge.</p>
	<img src="https://i.pinimg.com/736x/e0/0d/8e/e00d8e43abbf2d5f7cb81f00c9baf6a7.jpg">
	<p>Встречайте Йена Коннора – творческую личность, остававшуюся самим собой с самого начала пути. После переезда из Атланты в Нью-Йорк в возрасте 18-ти лет и разъездов по миру Йен Коннор стал движущей силой и одним из основоположников молодежной культуры в социальных сетях. Сейчас полночь, и журналу PAUSE выпал шанс поговорить с ним во время его пребывания в Лондоне на тему карьеры, рода его занятия, о взглядах на жизнь и смерть, жизненном опыте и о том, что стоит за новым брендом Коннора под названием Revenge.</p>
	<p>Встречайте Йена Коннора – творческую личность, остававшуюся самим собой с самого начала пути. После переезда из Атланты в Нью-Йорк в возрасте 18-ти лет и разъездов по миру Йен Коннор стал движущей силой и одним из основоположников молодежной культуры в социальных сетях. Сейчас полночь, и журналу PAUSE выпал шанс поговорить с ним во время его пребывания в Лондоне на тему карьеры, рода его занятия, о взглядах на жизнь и смерть, жизненном опыте и о том, что стоит за новым брендом Коннора под названием Revenge.</p>
	<div class="card comments">
		<h5 class="card-header">Комментарии</h5>
		<div class="card-body">
			<textarea class="form-control mb-3" placeholder="Ваш комментарий"></textarea>
			<button class="btn btn-primary">Оставить</button>
		</div>
		<div class="card mx-2 mb-2">
			<div class="card-body">
				<h5 class="card-title">Я думаю, он охуенен</h5>
				<h6 class="card-subtitle text-muted">Kid Cudi</h6>
			</div>
		</div>
		<div class="card mx-2 mb-2">
			<div class="card-body">
				<h5 class="card-title">Мой братишка!</h5>
				<h6 class="card-subtitle text-muted">A$AP Rocky</h6>
			</div>
		</div>
	</div>
</div>
{% endblock %}
