{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
	<div class="col-7 mx-auto mt-5">
		<form method="post" action="{% url 'post-edit' id %}">
			{% csrf_token %}
			<label for="id_title">Название</label><br>
			<input type="text" id="id_title" name="title" class="mb-1 form-control" required value="{{ form.title.value }}"><br>
			<label for="id_text">Текст</label><br>
			<textarea id="id_text" name="text" class="mb-3 form-control" rows="10">{{ text }}</textarea>
			<button class="btn btn-info ml-auto" type="submit">Сохранить</button>
		</form>
	</div>
{% endblock %}