<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Курсы{% endblock %}</title>
		<meta charset="UTF-8">
		
		{% load static %}

		<!--Styles-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
		{% block styles %}{% endblock %}

		<!--Scripts-->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		{% block scripts %}{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light col-9 mx-auto">
			<a class="navbar-brand" href="{% url 'index' %}" style="margin-top:-5px">Курсы</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
  			</button>
  			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Популярные</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Горячие</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Свежие</a>
					</li>
				</ul>
				{% if user.is_authenticated %}
					<a class="btn btn-secondary btn-sm ml-auto" href="{% url 'post-create' %}">Создать</a>
					<a class="btn btn-light btn-sm ml-2" href="{% url 'logout' %}">Выход</a>
				{% else %}
					<button type="button" class="btn btn-light btn-sm ml-auto" data-toggle="modal" data-target="#loginModal">Войти</button>
					<button type="button" class="btn btn-primary btn-sm ml-2" data-toggle="modal" data-target="#registerModal">Регистрация</button>

					<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
					    	<div class="modal-content">
					    		<div class="modal-header">
					        		<h5 class="modal-title" id="loginModalLabel">Войти</h5>
					        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          			<span aria-hidden="true">&times;</span>
					        		</button>
					      		</div>
					      		<div class="modal-body">
					        		<form method="POST" action="{% url 'login' %}">
					        			{% csrf_token %}
					          			<div class="form-group">
					            			<label for="id_username" class="col-form-label">Логин:</label>
					            			<input type="text" class="form-control form-control-sm" id="id_username" name="username" autofocus required>
					          			</div>
					          			<div class="form-group">
					            			<label for="id_password" class="col-form-label">Пароль:</label>
								            <input type="password" class="form-control form-control-sm" id="id_password" name="password" required>
								        </div>
								        <button type="submit" class="btn btn-primary btn-sm" type="submit">Войти</button>
								    </form>
								</div>
							</div>
						</div>
					</div>

					<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
					    	<div class="modal-content">
					    		<div class="modal-header">
					        		<h5 class="modal-title" id="loginModalLabel">Регистрация</h5>
					        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          			<span aria-hidden="true">&times;</span>
					        		</button>
					      		</div>
					      		<div class="modal-body">
					        		<form method="POST" action="{% url 'registration' %}">
					        			{% csrf_token %}
					          			<div class="form-group">
					            			<label for="id_username" class="col-form-label">Логин:</label>
					            			<input type="text" class="form-control form-control-sm" id="id_username" name="username" required>
					          			</div>
					          			<div class="form-group">
					            			<label for="id_password1" class="col-form-label">Пароль:</label>
								            <input type="text" class="form-control form-control-sm" id="id_password1" name="password1" required>
								        </div>
					          			<div class="form-group">
					            			<label for="id_password2" class="col-form-label">Пароль:</label>
								            <input type="text" class="form-control form-control-sm" id="id_password2" name="password2" required>
								        </div>
							        	<button type="submit" class="btn btn-primary btn-sm" type="submit">Регистрация</button>
								    </form>
								</div>
							</div>
						</div>
					</div>
				{% endif %}

			</div>
		</nav>
		<div id="content">
			{% block content %}{% endblock %}
		</div>
		<footer>
		</footer>
	</body>
</html>
