.post {
	overflow: hidden;
}
.post h1,
.post p,
.post a,
.post .comments {
	width: 70%;
	margin: 20px auto 20px auto; 
}
.post img {
	width: 100%;
	margin: 30px auto;
}
.post .comments {
	margin-top: 70px;
}
.post .comments p {
	margin: 0;
}
